
table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid rgb(148, 148, 148);
  font-size:14px;
  padding: 10px;
}

.error{
  color: red;
}
.success{
  color: green;
}

.loading-image {
  width: 100px;
  height: 100px;
}

.article-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  background-color: #3f51b5;
  color: white;
  font-size: 26px;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  height: 80px;
}

.toolbar > span {
  width: 100%;
}

.heading {
  padding: 10px;
  font-size: 22px;
  color: rgba(0,0,0,.87);
}

.form-card {
  max-width: 95vw;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example-full-width {
  width: 90%;
  padding: 0 5px;
}

.table {
  max-width: 100%;
}

.table-card {
  max-width: 95vw;
  min-width: 60vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: auto;
}

.table-card-heading {
  margin-bottom: 15px;
}

.button-column-left {
  border-right: none !important;
}
.button-column-right {
  border-left: none !important;
}

.status-container {
  text-align: center;
  margin: 20px 0;
}

.status-text {
  padding: 15px;
}

.address-label {
  margin: 10px 0;
  font-size: 18px;
}